<div class="mb-sm">
  <%= question.body %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <div>
      <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Редактировать вопрос' %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
      <%= button_to fa_icon('eye-slash'), "/questions/#{question.id}/unhide", method: :put, title: 'Вопрос скрыт, нажмите, чтобы показать' if question.is_hidden? %>
      <%= button_to fa_icon('eye'), "/questions/#{question.id}/hide", method: :put, title: 'Нажмите, чтобы скрыть вопрос' if question.is_hidden == false %>
    </div>
  </div>
</div>